<div class="container">

  <br>

  <% @articles.each do |article| %>
      <%= render article, showButtonView: true, markdown: @markdown %>
  <% end %>

  <br>

  <%= link_to 'New Article', new_article_path, class: 'btn btn-primary'%>

  <br>

  <br>

</div>