<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Hoang's blog</h1>

  <% @articles.each do |article| %>
      <%= render article %>
  <% end %>

  <br>

  <%= link_to 'New Article', new_article_path, class: 'btn btn-primary'%>

</div>