<div class="container">
  <div class="card">
    <div class="card-block">
      <img src="http://i.imgur.com/KnL9YJo.jpg" class="img-fluid">
      <br>
      <p>Hi, My name is <b>Hoang Tran</b>. I'm a njce guy who loves to make great software. When I'm not programming,
        I usually play Dota 2 with friends or go travel somewhere new.<br>
        I have a small dream of changing the world someday. Hope I'm still alive when that happens :)</p>
    </div>
  </div>
</div>
